<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Posts, Vue3 + REST</title>
    <style>
        button {
            margin: 5px 5px 5px 5px
        }
    </style>
</head>

<body>
    <h1>Most Wanted, Vue3 + REST</h1>

    <div id="app">

        <div v-if="error" style="color: red">{{error}}</div>

        <div class="card" v-if="posts.items.length > 0">
            <div class="card-body">
                <div v-for="post in posts.items" :key="post.id">
                    {{ post.title }}
                    <div v-html="post.details"></div>
                    <img
                        v-if="post.images && post.images[0] && post.images[0].thumb"
                        v-bind:src="post.images[0].thumb"
                        v-bind:alt="post.title"
                    >
                </div>
            </div>
        </div>
        <div v-else style="font-style: italic;">No such posts</div>

        <!-- Add pagination controls -->
        <div v-if="posts.items && posts.items.length > 0" class="mt-3">
            <button @click="prevPage" :disabled="currentPage <= 1" class="btn btn-secondary">Previous</button>
            <span class="mx-2">Page {{ currentPage }}</span>
            <button @click="nextPage" :disabled="currentPage >= Math.ceil(posts.total / 20)" class="btn btn-secondary">Next</button>
            
            <!-- Jump to page input -->
            <input 
                v-model.number="jumpToPageNumber" 
                type="number" 
                min="1" 
                placeholder="Jump to page"
                class="form-control"
                style="width: 150px; display: inline-block; margin-left: 10px;"
            >
            <button @click="jumpToPage" class="btn btn-primary" style="margin-left: 5px;">Go</button>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>