<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Posts, Vue3 + REST</title>
    <style>
        button {
            margin: 5px 5px 5px 5px
        }
    </style>
</head>

<body>
    <h1>MostWanted, Vue3 + REST</h1>

    <div id="app">

        <div v-if="error" style="color: red">{{error}}</div>

        <div class="card" v-if="posts.items.length > 0">
            <div class="card-header">
                 
            </div>
            <div class="card-body">
                <div v-for="post in posts.items" :key="post.id">
                    {{ post.title }}<br>
                    <div v-html="post.details"></div>
                    <img
                        v-if="post.images && post.images[0] && post.images[0].thumb"
                        v-bind:src="post.images[0].thumb"
                        v-bind:alt="post.title"
                    >
                    <br>
                </div>
            </div>
        </div>
        <!--table v-if="posts.length" class="table table-striped">
            <tr v-for="post in posts">
                <td>{{post.userId}}</td>
                <td>{{post.title}}</td>
            </tr>
        </table-->
        <div v-else style="font-style: italic;">No such posts</div>
    </div>

    <script src="index.js"></script>
</body>

</html>