<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="minfedecssfil.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="name" placeholder="Enter your name" />
        <button @click="sayHello(name)">Greet</button>
        <div v-if="message">
            <p>{{ message }}</p>
        </div>
    </div>
    <script src="weepwoop.js">  </script>
    <br>
    <h1>Hello, World!</h1>
    <p>Jeg er en HTML-fil.</p>
    <h2> Dette er min anden html fil</h2>
    <iframe src="iframe.html" width="50" height="50"></iframe>
</body>

</html>